<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<add key="IdiomaPath" value="C:/Users/agust/OneDrive/Escritorio/TC-ClinicaDental/TC-ClinicaDental/repos/UI/l18n" />
		<add key="UserIdiomaConfigPath" value="C:/Users/agust/OneDrive/Escritorio/TC-ClinicaDental/TC-ClinicaDental/repos/UI/config.txt" />
		<add key="Idioma" value="en-US" />
		<add key="BackendType" value="1" />
		<add key="LoggerType" value="database" />
		<add key="RutaCarpetaPDFHistoriales" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\PDFs\Historiales" />
		<add key="RutaCarpetaPDFHorarios" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\PDFs\Horarios" />
		<add key="BackupPath1" value="C:/Users/agust/OneDrive/Escritorio/TC-ClinicaDental/TC-ClinicaDental/repos/BackUp" />
		<add key="BackupPath2" value="C:/Users/agust/OneDrive/Escritorio/TC-ClinicaDental/TC-ClinicaDental/repos/BackUp\" />
		<add key="BackupPath3" value="C:/Users/agust/OneDrive/Escritorio/TC-ClinicaDental/TC-ClinicaDental/repos/BackUp" />

		<add key="HelpFilePath_es-ES" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\Manual\help_es.chm" />
		<add key="HelpFilePath_en-US" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\Manual\help_us.chm" />
		<add key="HelpFilePath_pt-PT" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\Manual\help_pt.chm" />
		<add key="HelpFilePath_Default" value="C:\Users\agust\OneDrive\Escritorio\TC-ClinicaDental\TC-ClinicaDental\repos\Manual\help_en.chm" />
	</appSettings>

	<connectionStrings>
		<add name="MiConexion" connectionString="Data Source=DESKTOP-2E3RU7L\MSSQLSERVER02;Initial Catalog=Clinica;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="MiConexion2" connectionString="Data Source=DESKTOP-2E3RU7L\MSSQLSERVER02;Initial Catalog=Login;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="LogDatabase" connectionString="Data Source=DESKTOP-2E3RU7L\MSSQLSERVER02;Initial Catalog=Bitacora;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.1462.48.0" newVersion="27.1462.48.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.2462.13.0" newVersion="26.2462.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>